@model IEnumerable<Carrito_A.Models.Sucursal>
@inject Microsoft.AspNetCore.Identity.UserManager<Carrito_A.Models.Persona> userManager
@inject SignInManager<Persona> singInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Sucursales</h1>

@if (singInManager.IsSignedIn(User) && (User.IsInRole("Empleado") || User.IsInRole("Administrador")))
{
    <p>
        <a asp-action="Create">Crear</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @if (singInManager.IsSignedIn(User) && (User.IsInRole("Empleado") || User.IsInRole("Administrador")))
                    {
                        <a class="btn btn-secondary btn-sm text-white mb-2" asp-action="Edit" asp-route-id="@item.Id">@AliasGUI.Edit</a>
                        <a class="btn btn-danger btn-sm text-white mb-2" asp-action="Delete" asp-route-id="@item.Id">@AliasGUI.Delete</a>
                    }
                    <a class="btn btn-info btn-sm text-white mb-2" asp-action="Details" asp-route-id="@item.Id">@AliasGUI.Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
